.series-banner {
  width: 100%;
  position: relative;
  text-align: center;
  color: white;
}

.banner-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.series-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
}

.series-details-content {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  padding: 20px;
  background-color: #202020;
  color: #fff;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 20px;
}

.series-poster img {
  width: 100%;
  max-width: 300px;
  border-radius: 8px;
}

.series-info-title {
  font-size: 2rem;
  margin-top: 0;
}

.series-details-content label {
  font-size: 1rem;
  color: #fff;
  display: block;
  margin-bottom: 10px;
  width: 80%;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 5px;
  background-color: #333; /* Fondo oscuro para hacerlo resaltar */
  border-radius: 5px;
  border: 1px solid #444;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.series-details-content select {
  width: 80%;
  padding: 10px;
  background-color: #222;
  color: #fff;
  border: 1px solid #444;
  border-radius: 5px;
  font-size: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

#season-select {
  margin-bottom: 20px; /* Agrega un margen inferior al selector de temporada */
}


.series-video {
  max-width: 1200px;
  height: 600px;
  padding: 20px;
  background-color: #202020;
  margin: 20px auto;
}

.series-footer-space {
  height: 50px;
}
