nav.navbar-transparent {
  background-color: #212529 !important;
}

.dropdown {
  margin-left: .5rem;
}

.dropdown-menu-end[data-bs-popper] {
  right: 0;
}

@media (max-width: 991.98px) {

  .dropdown {
    padding-top: 1rem;
    margin-left: 0;
  }

  .dropdown-menu-end[data-bs-popper] {
    right: auto !important;
  }
}

.search-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #ffffff;
  z-index: 1000;
  border: 1px solid #ddd;
  border-radius: 4px;
  max-height: 300px;
  overflow-y: auto;
  padding: 8px 0;
}

.search-result-item {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  color: #000;
  text-decoration: none;
}

.search-result-item:hover {
  background-color: #f0f0f0;
}

.result-poster {
  width: 50px;
  height: auto;
  margin-right: 12px;
  border-radius: 4px;
}

.result-title {
  font-size: 16px;
  font-weight: 500;
}

/* Estilo del dropdown */
.dropdown-menu-two-columns {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.dropdown-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px 5px 0 5px;
}

.dropdown-list {
  max-height: 200px;
  overflow-y: auto;
  scrollbar-width: thin; 
}

.dropdown-column h6 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 5px;
}

@media (max-width: 768px) {
  .dropdown-menu-two-columns {
    width: auto;
  }
}