.inputGroup {
  font-family: 'Segoe UI', sans-serif;
  margin: 1.1em 0;
  position: relative;
}

.inputGroup input {
  font-size: 100%;
  padding: 0.8em;
  outline: none;
  border: 2px solid #4c6579;
  background-color: transparent !important;
  border-radius: 20px;
  width: 100%;
  color: white !important;
}

.inputGroup label {
  font-size: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0.8em;
  margin-left: 0.5em;
  pointer-events: none;
  transition: all 0.3s ease;
  color: white;
}

.inputGroup input:focus ~ label,
.inputGroup input.has-value ~ label {
  transform: translateY(-50%) scale(.9);
  margin: 0em;
  margin-left: 1.3em;
  padding: 0.4em;
  background-color: #212529;
  color: white;
}

.inputGroup input:focus {
  border-color: #4c6579;
  border: 2px solid #7ca2c2;
  box-shadow: none;
}
