.movie-banner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.banner-overlay {
  background: rgba(0, 0, 0, 0.5); /* Oscurece un poco el fondo */
  padding: 20px;
  text-align: center;
}

.movie-details-content {
  padding: 20px;
}

.embed {
  height: 550px;
}