.movie-banner {
  width: 100%;
  position: relative;
  text-align: center;
  color: white;
}

.banner-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
}

.movie-details-content {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  padding: 20px;
  background-color: #202020;
  color: #fff;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 20px;
}

.movie-poster img {
  width: 100%;
  max-width: 300px;
  border-radius: 8px;
}


.movie-info-title {
  font-size: 2rem;
  margin-top: 0;
}

.movie-video {
  max-width: 1200px;
  height: 600px;
  padding: 20px;
  background-color: #202020;
  margin: 20px auto;
}

.movie-footer-space {
  height: 50px;
}
