footer {
  background-color: #212529;
  padding: 1rem 0 .5rem 0;
  margin-top: auto;
}

footer h5 {
  margin-bottom: 1rem;
  font-weight: bold;
}

footer p {
  margin-bottom: 0.5rem;
}

footer .nav-link {
  color: #adb5bd;
  transition: color 0.3s;
  padding: 8px 0;
}

footer .nav-link:hover {
  color: #ffffff;
}

footer hr {
  border-top: 1px solid #495057;
}

.nav-item {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.1s;
  padding: 0 0 7px 0;
}

.nav-item a {
  color: #ffffff;
  font-style: italic;
  text-decoration: none;
  transition: color 0.2s;
}

.nav-item a:hover {
  color: #adb5bd;
}